<h1>Everyone in the village must have a profession</h1>

<%= link_to 'Alchemist', user_path(current_user, :profession => 'Alchemist'), method: :put %>
<%= link_to 'Blacksmith', user_path(current_user, :profession => 'Blacksmith'), method: :put %>
<%= link_to 'Trapper', user_path(current_user, :profession => 'Trapper'), method: :put %>
