<h1>Welcome to Wanderer Beware</h1>

<p>Find adventure throughout the Gloamwood Forest. You've recently located to
Gloamwood Village, the locals can't imagine why, but they're happy to have any
help you can offer. What will be your chosen profession? How deep into the forest
will you go?! Good luck, new comer.
</p>
