/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   background-image: url("https://i.pinimg.com/originals/14/46/8e/14468e41e4dc9c320eea11ad06cd7c3d.jpg");
   background-size: cover;
   color: lightgrey;
   font-family: Helvetica;
   /* background-color: #cccccc; */
}

body a:visited {
  color: lightgrey;
}

.container {
  display: flex;
  height: 60px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/stop-motion-parchment-background_b1cljj-h__F0000.png");
  align-items: center;
  width: 100%;
}

.container ul {;
  color: black;
  flex: 1;
}

.container ul li {
  padding: 0px 10px;
  display: inline-block;
}

li a:visited {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}
